<div id="<%= dom_id followed_user %>">
  <p>
    <strong>Follower:</strong>
    <%= followed_user.follower_id %>
  </p>

  <p>
    <strong>Followee:</strong>
    <%= followed_user.followee_id %>
  </p>

</div>
