<h1>Editing followed user</h1>

<%= render "form", followed_user: @followed_user %>

<br>

<div>
  <%= link_to "Show this followed user", @followed_user %> |
  <%= link_to "Back to followed users", followed_users_path %>
</div>
