<div id="<%= dom_id followed_topic %>">
  <p>
    <strong>Follower:</strong>
    <%= followed_topic.follower_id %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= followed_topic.topic_id %>
  </p>

</div>
